# === Rust ===
/target/
/Cargo.lock
**/*.rs.bk

# If you're using cargo-edit
/.cargo/

# === Node.js ===
packages/sdk-web/node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === TypeScript ===
*.tsbuildinfo
dist/
build/
out/

# === Vite / Next.js (web) ===
.next/
.vite/
.vercel/

# === WebAssembly / FFI output ===
*.wasm
*.node
*.d.ts
pkg/
index.node
index.d.ts

# === IDEs ===
.vscode/
.idea/
*.swp
*.swo
*.swn

# === OS files ===
.DS_Store
Thumbs.db

# === Env / Secrets ===
.env
.env.*

bla.txt
Neo4.txt
packages/ffi/shaayud-sdk-core-0.1.1.tgz
packages/sdk-node/shaayud-sdk-node-1.0.0.tgz
packages/sdk-web/shaayud-sdk-web-0.1.0.tgz

